<div class="dialog-content-wrapper">
    <mat-toolbar class="mat-accent m-0">
      <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <span class="title dialog-title">Sub Category</span>
        <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
          <mat-icon>close</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  
    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
  
      <form name="subCategoryForm" [formGroup]="subCategoryForm" class="details-form" fxLayout="column" fxFlex>
  
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput name="name" formControlName="name" type="text">
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <textarea matInput name="description" formControlName="description" rows="4">
                    </textarea>
        </mat-form-field>
  
      </form>
    </div>
  
    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">
      <button mat-raised-button color="accent" (click)="onSaveClick($event)" class="save-button"
        [disabled]="subCategoryForm.invalid" aria-label="SAVE">
        SAVE
      </button>
  
    </div>
  </div>