<section class="vertical-layout-1">
  <div id="main">
    <div class="container" id="container-1">
      <div class="container" id="container-2">
        <mat-toolbar color="primary" class="mat-elevation-z10">
          <span>Retail Store</span>
          <span class="example-spacer"></span>
          <button *ngIf="showLogoutButton" mat-raised-button color="accent" (click)="onLogoutClick()"
            class="logout-button" aria-label="LOGOUT">
            LOGOUT
          </button>
        </mat-toolbar>
        <div class="container" id="container-3">
          <content class="inner-scroll">
            <router-outlet></router-outlet>
          </content>
        </div>
      </div>
    </div>
  </div>
</section>